.footer__link {
  text-decoration: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
}

@media screen and (max-width: 490px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
  }
}