.footer__nav {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 18px;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 490px) {
  .footer__nav {
    flex-direction: column;
    row-gap: 32px;
  }
}